<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand marg-navbar" href="#">TREE GALLERY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="downloads">Find your tree</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="uploads">Add a tree</a>
      </li>
    </ul>
  </div>
  <div class="flexbox-navbar">
    <ul class="navbar-nav marg-navbar-right">
      <li class="nav-item">
        <button class="button-login"
                onclick="window.location.href='login'" type="button">Login
        </button>
      </li>
      <li class="nav-item">
        <button class="button-register" onclick="window.location.href='register'" type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
